<p>
  banner works!
</p>

<div class="box">
  {{name}}<br>
  {{age}}<br>
  {{address.houseName}},<br>
  {{address.email}}<br>
  {{address.phone}}<br>




  <h1>Edit Details</h1>
<div *ngIf=isEdit>
  <form>
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="name" name="name"><br>
    <label for="age">Age</label>
    <input type="text" [(ngModel)]="age" name="age"><br>
  </form>
</div>


  <h1>HOBBIES</h1>

  <button class="button" (click)="demoClick()">
    Click Here
  </button>
  <button class="button" (click)="demoEdit()">
    Edit Details
  </button>

  <ul>
    <li *ngFor="let events of hobbies;let i=index">
      {{i+1}},{{events}} <button (click)="delHobbies(events)">x</button>
    </li>
  </ul>

  <form (submit)="addHobby(hobbyName.value)">
      <label for="hobby">Hobbies</label>
      <input type="text" #hobbyName>
  </form>


  <h1>Posts</h1>

  <div *ngFor="let post of posts">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
  </div>
</div>
